.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
  border-bottom-left-radius: 50px;
}

.title {
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
}

.statList {
  width: 100%;
  // border: rgb(200, 205, 211) solid 0.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around ;
  height: 50%;


}

.item {
  // border: rgb(200, 205, 211) solid 0.5px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  color: #fff;

 
}